<!----PostHome-->
@using App.Aplication
@using App.Domain.Entities.Data
@using App.Domain.Entities.Menu
@model App.Front.Models.Posts.CategoryPostModel

@if (Model != null)
{
    <section id="home-2">
        <div class="container">
            <div class="row products-list">
                <div class="col-xs-12">
                    <div id="w1" class="owl-carousel-wrapper">
                        <div class="owl-carousel">
                            @foreach (var post in Model.Posts)
                            {
                                @RenderPostBlock(post)
                            }

                        </div>
                    </div>
                </div>
            </div>

            <div id="divIntroInHome"></div>
            <div class="row text-center margin-top-25">
                <div class="col-xs-12">
                    <a class="btn btn-lamant" href="san-pham-1.html">Xem tất cả</a>
                </div>
            </div>
        </div>
    </section>

}
else
{
    <p class="text-danger">
        Nội dung đang cập nhật
    </p>
}

@helper RenderPostBlock(Post post)
{
    <div class="product-item text-center">
        <div class="product-item__img">
            <a href="@Url.Action("PostDetail", "Post" , new {seoUrl=post.SeoUrl, area="" })" title="@post.Title">
                <img class="img-responsive" src="@post.ImageMediumSize.ValidateImage()" alt="">
            </a>
        </div>

        <h6 class="text-uppercase text-regular font-serif">
            <a href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})" title="@post.Title">@post.Title</a>
        </h6>
         @if (post.Discount.HasValue && !post.OutOfStock)
                        {
                            <span class="price-percent">
                                Sale
                                <br>
                                - @Html.Raw(post.Discount.FormatPersent())
                            </span>
                        }
                        <div class="content_price">
                            @if (!post.OutOfStock)
                            {
                                <span class="price product-price">
                                    @if (post.Price.HasValue && post.Discount.HasValue)
                                    {
                                        @Html.Raw((post.Price - post.Price * post.Discount / 100).FormatPrice())
                                    }
                                    else if (post.Price.HasValue && !post.Discount.HasValue)
                                    {
                                        @Html.Raw(post.Price.FormatPrice())
                                    }
                                    else
                                    {
                                        @Html.Raw("LienHeDatHang.Lable")
                                    }
                                </span>
                                if (post.Discount.HasValue)
                                {
                                    <span class="price old-price">@Html.Raw(post.Price.FormatPrice()) </span>
                                }
                            }
                            else
                            {
                                <h5 class="product-name">
                                    <span class="label label-danger">Hết hàng</span>
                                </h5>
                            }
                        </div>
    </div>
}

<script>
     jQuery(function () {

         jQuery.post('@Url.Action("GetIntro", "Summary")'
             , {"MenuId":14} )
          .done(function (data) {
              jQuery("#divIntroInHome").html(data.list);
          });
    })
</script>

<!----/PostHome-->