<!----PostHome-->
@using App.Aplication
@using App.Domain.Entities.Data
@using App.Domain.Entities.Menu
@model App.Front.Models.Posts.CategoryPostModel

@if (Model != null)
{
    <section id="home-2">
        <div class="container">
            <div class="row products-list">
                <div class="col-xs-12">
                    <div id="w1" class="owl-carousel-wrapper">
                        <div class="owl-carousel">
                            @foreach (var post in Model.Posts)
                            {
                                @RenderPostBlock(post)
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center margin-top-25">
                <div class="col-xs-12">
                    <a class="btn btn-lamant" href="thoi-trang.html">Xem tất cả</a>
                </div>
            </div>
        </div>
    </section>

}
else
{
    <p class="text-danger">
        Nội dung đang cập nhật
    </p>
}

@helper RenderPostBlock(Post post)
{
    <div class="product-item text-center">
        <a href="@Url.Action("PostDetail", "Post" , new {seoUrl=post.SeoUrl, area="" })" title="@post.Title">
            <img class="img-responsive" src="@post.ImageMediumSize.ValidateImage()" alt="">
        </a><h6 class="text-uppercase text-regular font-serif">
            <a href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})" title="@post.Title">@post.Title</a>
        </h6>
    </div>
}
<!----/PostHome-->