@model App.Domain.Entities.GlobalSetting.ContactInformation
<div class="map-contact marginbottom col-sm-6 col-xs-12">
    <div class="box">
        <div id="ext_maps">
            <div class="google-map">

                @*@if (Model != null)
                    {
                        <script type="text/javascript">
                        function ShowMap() {
                            initMap('@Model.Lat',
                                '@Model.Lag',
                                '<h2>@Model.Title<h2><p>Hotline: @Model.Hotline</p><p>Điện thoại: @Model.MobilePhone</p><p>@Model.Email</p><p>Địa chỉ: @Model.Address</p>',
                                'map_canvas');
                        }

                        $(function() {
                            ShowMap();
                        })
                        </script>
                    }*@
                <div id="map_canvas" class="map_canvas">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15488.447712227713!2d108.0053097!3d13.9519406!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc76a1b2a36857e29!2zRG50biBUaMawxqFuZyBN4bqhaSBUaMO5eSBEdW5n!5e0!3m2!1sfr!2s!4v1530379159277" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
            </div>
        </div>
    </div>
</div>